.box-toc_checkbox > .form-check-input {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 0px solid rgba(0,0,0,.25);
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

#mapid{
  /* margin-top:25px;
  margin-bottom:25px; */
}

.head-band{
  background-color: #e94929ff;
  height: 35px;
}

.footer-band{
  background-color: #ffffff;
  height: 120px;
}

.container-fluid {
  height: 100%;
  height: -webkit-calc(100% - 155px);
  height: -moz-calc(100% - 155px);
  height: calc(100% - 155px);
}

.box-usrprofile {
  top: 35px;
}

.info-canvas {
  top: 40px;
}

.box-sidebar-search {
  display: none;
}

#box-main-logo {
  margin-left: auto;
  width: 225px;
  float: right;
}

.template-sidebar {

  background-color: #fff;
}

#box-sidebar-avatar{
  position: relative;
  top: 0px;
  width: 100%;
  text-align: right;
  padding-top: 20px;
}

.btn-outline-dark {
  border-radius: 10px;
  background-color: #fff;
  font-weight:900;
}