#Forbidden
#Options -Indexes

#show folder but ignore file with these extension
IndexIgnore *.log *.csv *.pdf *.png *.xlsx

#other configuration
#<Files *.log>
#   Order allow,deny
#   Deny from all
#</Files>
